@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #0f0f14;
  font-family: "Inter", sans-serif;
  color:#ffff;
}


@keyframes cyberGlow {
  0%, 100% {
    box-shadow: 0 0 10px #ff00aa, 0 0 20px #ff00aa;
  }
  50% {
    box-shadow: 0 0 20px #ff00aa, 0 0 40px #ff00aa;
  }
}

.neon-glow {
  animation: cyberGlow 2s infinite ease-in-out;
}
